/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  outline: none;
  box-sizing: border-box;
}

:root {
  --theme-bg-color: rgba(255, 255, 255, 0.3);
  --border-color: rgba(113, 119, 144, 0.25);
  --theme-color: #f9fafb;
  --inactive-color: rgba(113, 119, 144, 0.78);
  --body-font: 'Poppins', sans-serif;
  --button-active: #4f5bd5;
  --button-inactive: #9a9a9a;
  --button-text-color: #fff;
  --input-bg-color: rgba(255, 255, 255, 0.8);
  --input-text-color: #000;
}

body {
  font-family: var(--body-font);
  background-image: url('https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.feelscape-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  background: var(--theme-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 2em;
  text-align: center;
}

.feelscape-header {
  margin-bottom: 10px;
  color: var(--theme-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.feelscape-subheader {
  color: var(--theme-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.feelscape-form {
  width: 100%;
}

.feelscape-textfield {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background: var(--input-bg-color);
  color: var(--input-text-color);
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.feelscape-button {
  width: 48%;
  margin: 5px 1%;
  background-color: var(--button-active);
  color: var(--button-text-color);
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.feelscape-button:disabled {
  background-color: var(--button-inactive);
  cursor: not-allowed;
}

.feelscape-button:hover:enabled {
  background-color: #3b46a5;
  transform: translateY(-2px);
}

.feelscape-result-container {
  margin-top: 20px;
  width: 100%;
}

.feelscape-error {
  margin-top: 10px;
  color: #f44336;
}
